
/**begin navbar styling**/
.navbar-default {
  background: ;
}

.dropdown-menu:li {
    text-align: left;
}
.caret{
  color: #f1b600;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-color: #f1b600;
    font-family: 'Slabo 14px', serif;
 }

/**begin hero**/
.hero{
  padding-top: 30px;
}
.text{
  font-family: 'Source Sans Pro', sans-serif;
}
button{
  background-color: #f1b600;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  border-radius: 6px;
  padding: 10px;
  text-decoration: none;

}
.header-text{
  font-family: 'Slabo 14px', serif;
  color: #002d00;
  padding: 1px;
  z-index: 2;
}
