
/**begin navbar styling**/
.navbar-default {
  background: ;
}

.dropdown-menu:li {
    text-align: left;
}
.caret{
  color: #f1b600;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-color: #f1b600;
    font-family: 'Slabo 14px', serif;
 }

/**begin hero**/
