
/**begin navbar styling**/
.navbar-default {
  background: ;
}
.dropdown-menu:li {
  text-align: left;
}
.caret{
  color: #f1b600;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  border-color: #f1b600;
  font-family: 'Slabo 14px', serif;
}
/**begin hero**/
.hero{
  padding-top: 30px;
}
.bio{
  padding-top: 20px;
}
.text{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #273012;
}
button{
  background-color: #f1b600;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  border-radius: 6px;
  padding: 10px;
  text-decoration: none;
  color: #273012;
}
.header-text{
  font-family: 'Slabo 14px', serif;
  color: #273012;
  padding: 1px;
  z-index: 2;
}
.love {
  padding-right: 200  px;
}
.hire{
  padding-left: 80vw;
  padding-top: 20px;
}
.space {
  height: 30px;
}
