/**begin navbar styling**/
.navbar-default {
  background: ;
}

.dropdown-menu:li {
    text-align: left;
}
.caret{
  color: #f1b600;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-color: #f1b600;
    font-family: 'Slabo 14px', serif;
 }
/*end nabvar*/
/*begin body*/
.header-text{
  font-family: 'Slabo 27px', serif;
}
.text{
  font-family: 'Source Sans Pro', sans-serif;
}
.socmed{
  display: flex;
  justify-content: center;
  padding-left: 1px;
  padding-top: 10px;
}
.facebook{
  color: RGB: 59, 89, 152;
  padding-right: 5px;
}
.linkedin{
  color: #0077B5;
  padding-right: 5px;
}
.git{
  color: #4078c0;
}
.contact-form{

}
