/**begin navbar styling**/
.navbar-default {
  background: ;
}

.dropdown-menu:li {
  text-align: left;
}
.caret{
  color: #f1b600;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-color: #f1b600;
    font-family: 'Slabo 14px', serif;
 }

/**begin hero**/
.hero{
  background: url("../pics/poppy.png");
  background-size: cover;
  position: relative;
  height: 70vh;
}
h2 {
  position: relative;
  z-index: 2;
  font-family: 'Slabo 27px', serif;
  color: white;
  text-shadow: 3px 4px 5px #333333;
  margin: 0 auto;
  margin-top: 20%;
  padding: 0 20%;
 }

.hire{
   display: flex;
   justify-content: flex-end;
   z-index: 1;
   position: absolute;
    left: 775px;
    top: 300px;
 }
 button{
   background-color: #f1b600;
   font-family: 'Source Sans Pro', sans-serif;
   border: none;
   border-radius: 6px;
   padding: 10px;
   text-decoration: none;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 /**end hero**/
 /**begin social media**/
.socmed{
  display: flex;
  justify-content: center;
  padding-left: 1px;
  padding-top: 25px;
}
.facebook{
  color: #3b5998;
  padding-right: 5px;
}
.linkedin{
  color: #0077B5;
  padding-right: 5px;
}
.git{
  color: black;
}
/**end social media**/
/** begin samples**/
.samples-title{
  text-align: center;
  color: #002D00;
  font-family: 'Slabo 27px', serif;
  font-weight: bolder;
  font-size: 45px;
  text-transform: lowercase;
}
.sample{
  padding-top: 20px;
}
.sample2{
  padding-top: 20px;
  padding-bottom: 20px;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
}
.sample-text{
  /*float: right;*/
  font-size: 30px;
  padding: 9% 6%;
}
/** end samples**/

/*.folio-1, .folio-2, .folio-3 {
  height: 350px;
}*/

.folio-1 img, .folio-2 img, .folio-3 img {
  height: 100%;
}
