/**begin navbar styling**/
navbar-default{
  color: #5EBA66;
}
navbar{
  color: #5EBA66;
}
navbar-right{
  display: flex;
  justify-content: flex-end;
}
.padding{
  padding-right: 30px;
}
/**begin hero**/
.hero{
  width: 100%;
}
h2 {
  position: absolute;
  left: 300px;
  top: 150px;
  right: 80px;
  z-index: 2;
  font-family: 'Slabo 27px', serif;
 }

.hire{
   display: flex;
   justify-content: flex-end;
   z-index: 1;
   position: absolute;
    left: 800px;
    top: 310px;
 }
 button{
   background-color: #FF9319;
   font-family: 'Source Sans Pro', sans-serif;
   border: none;
   border-radius: 6px;
   padding: 10px;
   text-decoration: none;

 }
 /**end hero**/
 /**begin social media**/
.socmed{
  display: flex;
  justify-content: center;
  padding-left: 1px;
  padding-top: 10px;
}
.facebook{
  color: RGB: 59, 89, 152;
  padding-right: 5px;
}
.linkedin{
  color: #0077B5;
  padding-right: 5px;
}
.git{
  color: #4078c0;
}
/**end social media**/
/** begin samples**/
.samples-title{
  text-align: center;
}
/** end samples**/
