/**begin navbar styling**/
navbar-default{
  background-color: #FF8800;
}
navbar-right{
  display: flex;
  justify-content: flex-end;
}
.padding{
  padding-right: 30px;
}
/**begin hero**/
.hero{
  width: 100%;
}
h2 span  {

 }
.hire{
   display: flex;
   justify-content: flex-end;
 }
 /**end hero**/
 /**begin social media**/
.socmed{
  display: flex;
  justify-content: center;
}
.facebook{
  color: RGB: 59, 89, 152;
}
.linkedin{
  color: #0077B5;
}
.git{
  color: #4078c0;
}
/**end social media**/
/** begin samples**/
.samples-title{
  text-align: center;
}
/** end samples**/
