


















navbar-right{
  display: flex;
  justify-content: flex-end;
}

/**beging hero**/
.hero{
  width: 100%;
}

.intro {
  position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
.intro overlay  {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
 }
 /**end hero**/
 /**begin social media**/
.socmed{
  margin: auto;
}
